/* div principal */
div#principal{
	background-color:white;
}
/* Cabeçalho */
div#cabecalho{
	display: block;
	position: fixed;
	background-color:#F8F8FF;
	width: 100%;
	height: 100px;
	margin-top: -0.5em;
	z-index: 2;
}
/* Logomarca */
div#logomarca{
	width: 400px;
	height: 90px;
	background-color:#F8F8FF;
}
div#logomarca img{
	width: 530px;
	position: relative;
	top:-8px;
	left: -37px;
}
/* Menu */
nav#menu{
	display: block;
	position: absolute;
	left: 600px;
	top: 25px;
	width: 684px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}
nav#menu ul{
	list-style: none;
}
nav#menu li{
	display: inline-block;
	margin-right: 20px;
}
nav#menu a{
	text-decoration: none;
	color: #A6A6A6;
	margin: 10px;
}
nav#menu a:hover{
	text-decoration: none;
	color: #0FA3B1;
}
/* Seções */
section{
	display: block;
	position: relative;
}
/*Imagens*/
figure.e img{
	width: 500px;
	position: absolute;
	left:765px;
	top:376px;
	height:322px;
}
figure.d img{
	width: 500px;
	position: absolute;
	left:114px;
	top:806px;
	height: 322px;
}
/*textos*/
article.texto1{
	display: block;
	position: absolute;
	left: 57px;
	top: 418px;
}
article.texto2{
	display: block;
	position: absolute;
	left: 887px;
	top: 809px;
}
article h1{
	font-family: 'Hind', sans-serif;
	color:#0FA3B1;
	font-size: 40px;
}
article p{
	color:#A6A6A6; 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
}
